h1, .h1 {
  font-size: 1.5rem;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}

.ui-accordion .ui-accordion-content {
  width: auto;
}

fieldset.module > h2 {
  margin-bottom: 15px;
}

.sub-group {
  width: auto;
  padding: 5px 0 5px 30px;
}

.sub-group > .inline-related :last-child .sub-group {
  padding-top: 0;
  padding-bottom: 0;
}

.inline-related > h3 .delete {
  position: relative;
  cursor: pointer;
}

.inline-related > h3 .delete:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
}

.cdxcarousel-block {
  width: 20% !important;
}

.cdxcarousel-item {
  height: auto !important;
}

.cdxcarousel-item img {
  height: 125px !important;
}

.cdxcarousel-addImage {
  height: 123px !important;
  margin: 5px !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

.cdxcarousel-addImage:hover, .cdxcarousel-addImage:focus {
  border-radius: 3px !important;
}

.cdxcarousel-leftBtn, .cdxcarousel-rightBtn {
  width: 10px !important;
  height: 10px !important;
}

.cdxcarousel-removeBtn {
  width: 20px !important;
  height: 20px !important;
}
