{% extends "admin/base.html" %}
{% load static %}
{% load editorjs %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block extrahead %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block css %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block js %}{% endblock %}
