{% extends 'base.html' %}

{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

{% load custom_editorjs %}

{% block title %}{{ object.name }}{% endblock %}

{% block body %}

    <section class="blog-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <article>
                        <h1>{{ object.name }}</h1>
                        <ul class="list-inline">
                          <li class="list-inline-item">{{ object.author }}</li>
                          <li class="list-inline-item">{% check_category object.categories %}</li>
                          <li class="list-inline-item">{{ object.post_date }}</li>
                        </ul>
                    </article>
                    <article class="blocks">
                        {{ object.description | editorjs }}
                    </article>
                </div>
                <div class="col-12 col-md-4">
                    sidebar
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block css %}
    {{ object.description | include_css }}
{% endblock %}

{% block js %}
    {{ object.description | include_js }}
{% endblock %}